.loading-screen{
    height: 100dvh;
    width: 100vw;
    @include flex-center();
    background: linear-gradient(180deg, $primary-color, $primary-color-dk);
    background-size: 400% 400%;

    -webkit-animation: loading-screen 10s ease infinite;
    -moz-animation: loading-screen 10s ease infinite;
    -o-animation: loading-screen 10s ease infinite;
    animation: loading-screen 10s ease infinite;

    &__circle {
        position: relative;
        aspect-ratio: 1;
    }
      
    &__letter {
        position: absolute;
        top: 0;
        left: 50%;
        font-family: "Poppins", sans-serif;
        color: $white-color;
    }
      
}

@-webkit-keyframes loading-screen {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes loading-screen {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes loading-screen {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes loading-screen {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}