.aboutus-section{

    @include flex-center($direction: column, $gap: 20px, $justify: flex-start);
    position: relative;
    z-index: 500;
    height: fit-content;

    background-image: url('/ark-base.png');
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
    background-position-y: -65px;

    padding: 100px 0px;

    box-shadow: 
        inset 0px -65px 198.8px 0px rgba(0, 0, 0, 0.77),
        0px -5px 5px -3px rgba(0,0,0,0.8);

    &__title{
        @include flex-center($direction: column);

        &--second{
            @include titleFont();
            color: $white-color;
            font-size: 4rem;
            transition: font-size 0.3s ease-in-out;
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.32));
            @include flex-center($direction: column, $gap: 5px);
            text-wrap: wrap;
            width: 100%;
            max-width: clamp(200px, 85%, 1000px);
            text-align: center;
        }

        span:nth-child(1){
            @include fancyFont($weight: Regular);
            color: $primary-color;
            font-size: 3rem;
            display: inline-block;
            transition: font-size 0.3s ease-in-out;
            align-self: flex-start;
            transform: rotate(-10deg) translateX(-50%) translateY(-20%);
        }

        span:nth-child(2){
            @include titleFont();
            color: $white-color;
            font-size: 4rem;
            transition: font-size 0.3s ease-in-out;
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.32));
        }
    }

    &__text{
        width: 100%;
        @include flex-center($direction: column, $gap: 0px);
        position: relative;
        overflow: hidden;

        @include respond-to(mobile){
            width: clamp(100px, 80%, 800px);
        }
    }

    &__banderines{
        width: clamp(100px, 80%, 800px);
        margin-top: -3%;
        z-index: 0;

        @include respond-to(mobile){
            display: none;
        }

        &--small{
            display: none;
            z-index: 0;

            @include respond-to(mobile){
                width: 100%;
                margin-top: -7%;
                display: block;
            }
        }
    }

    &__shelf{
        width: clamp(200px, 85%, 1000px);
        height: fit-content;
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0px 17px 20px 0px rgba($color: #000000, $alpha: 0.6);

        background-image: url('/wood-tables-image.webp');
        background-size: 100% auto;
        background-repeat: repeat-y;
        background-position: top center;

        @include respond-to(mobile){
            width: 100%;
            box-shadow: 0px 5px 15px -5px rgba($color: #000000, $alpha: 0.8);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba($color: #FF863A, $alpha: 0.5);
            z-index: -2;
        }
    }

    &__description{
        display: grid;
        grid-template-columns: 75% 25%;
        position: relative;
        box-sizing: border-box;
        padding: 4%;
        padding-bottom: 0px;
        z-index: 1;

        background-image: url('/wood-tables-image.webp');
        background-size: 100% auto;
        background-repeat: repeat-y;
        background-position: top center;

        @include respond-to(tablet){
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba($color: #89461C, $alpha: 0.8);
            z-index: -2;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 50%);
            z-index: -1;
        }

        &__text{
            @include bodyFont();
            color: $white-color;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: justify;
            user-select: auto;
            box-sizing: border-box;
            padding-right: 5%;
            padding-bottom: 5%;
            z-index: 2;
        }

        &__image{
            width: 100%;
            height: auto;
            object-fit: contain;
            z-index: 2;
            align-self: flex-end;
            justify-self: flex-end;

            @include respond-to(tablet){
                height: 20dvh;
                max-height: 120px;
                width: auto;
                margin: 0px auto;
            }
        }

        &--reversed{
            grid-template-columns: 30% 70%;

            @include respond-to(tablet){
                grid-template-columns: 100%;
                grid-row: auto auto;

                .aboutus-section__description__image{
                    height: 25dvh;
                    max-height: 180px;
                }
            }

            .aboutus-section__description__text{
                padding-left: 5%;
                padding-right: 0px;
            }
        }

        &__overlay{
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.15);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: inset 0px 15px 15px 0px rgba($color: #000000, $alpha: 0.6);
        }
        
    }

    &__content-title{
        @include bodyFont($weight: ExtraBold);
        font-size: 1.2rem;
        background-color: $white-color;
        color: $primary-color;
        width: auto;
        max-width: 90%;
        text-align: center;
        box-sizing: border-box;
        padding: 10px 30px;
        border-radius: 20px;
        margin-top: 30px;
    }

    &__arca-redirect{
        margin-top: 20px;
        @include flex-center($direction: column, $gap: 0px);
        @include bodyFont();
        color: $white-color;

        a{
            text-align: center;
            line-height: 1.8;
        }
    }

    &__logos{
        margin-top: 30px;
        width: clamp(200px, 50%, 1000px);
        @include flex-center($justify: space-between);

        --image-width: 25%;

        @include respond-to(tablet){
            --image-width: 35%;
        }

        &--arcandina{
            width: var(--image-width);
            height: auto;
        }

        &--rotary{
            width: var(--image-width);
            height: auto;
        }
    }

    @include respond-to(mobile){
        &__title{

            &--second{
                font-size: 3rem;
            }

            span:nth-child(1){
                font-size: 2.5rem;
                transform: rotate(-10deg) translateX(-30%) translateY(-10%);
            }

            span:nth-child(2){
                font-size: 3rem;
            }
        }
    }
}