.content-displayer{
    @include flex-center($direction: column);
    width: 100%;
    max-width: 100%;

    &__buttons{
        @include flex-center($direction: row);
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    &__button{
        height: 40px;
        width: 140px;
        background-color: rgba(250,249,246,0.15);
        box-shadow: 0px 4px 7.6px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.2s linear;
        font-size: 1.1rem;

        @include respond-to(tablet){
            font-size: 1.3rem;
            width: 130px;
            flex-basis: calc(50% - 10px);
        }

        &--active{
            @extend .content-displayer__button;

            background-color: $white-color;
            color: $primary-color;
            font-weight: 700;

            &:hover{
                background-color: $white-color;
                color: $primary-color;
            }
        }
    }

    &__videos{  
        width: clamp(80px, 90%, 1000px);
        max-width: 100%;
        margin: auto;
        position: relative;
        --slide-height: 19rem;
        --slide-spacing: 1rem;
        --slide-size: 25%;

        @include respond-to(desktop){
            width: clamp(80px, 80%, 900px);
            --slide-spacing: 0.5rem;
        }

        @include respond-to(laptop){
            --slide-size: calc(100% / 3);
        }

        @include respond-to(tablet){
            width: clamp(80px, 70%, 900px);
            --slide-size: calc(100% / 2);
        }
    
        @include respond-to(mobile){
            width: clamp(80px, 65%, 900px);
    
            --slide-size: 100%;
        }

        &__viewport{
            overflow: hidden;
            width: 100%;
            max-width: 100%;
        }

        &__container{
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc(var(--slide-spacing) * -1);
            width: 100%;
            max-width: 100%;
        }

        &__slide{
            transform: translate3d(0, 0, 0);
            flex: 0 0 var(--slide-size);
            min-width: 0;
            padding-left: var(--slide-spacing);
            box-sizing: border-box;
        
            position: relative;
            @include flex-center($gap: 0px);
            
            padding-top: 20px;
            padding-bottom: 20px;
            height: 350px;
            overflow: hidden;

            
            @include respond-to(tablet){
                height: 300px;
            }
        }

        &__buttons{
            @include flex-center($justify: space-between, $gap: 0px);
            position: absolute;
            top: 50%;
            width: calc(100% + 100px);
            margin: 0px auto;
            transform: translateY(-50%) translateX(-50px);
            user-select: none;
            pointer-events: none;
        }

        &__button{
            @include flex-center($gap: 0px);
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            pointer-events: all;
        }
    }
}