.new{
    width: clamp(200px, 85%, 1000px);
    margin: 60px auto;

    &__date{
        @include bodyFont($weight: SemiBold);
        color: $gray-color;
    }

    &__title{
        @include titleFont($weight: Bold);
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    &__content{
        @include bodyFont();
        font-size: 1.2rem;
        line-height: 1.5;
        @include flex-center($direction: column)
    }

    &__button{
        margin-top: 25px;
    }
}