$primary-color: #f58521;
$primary-color-lt: #ff8922;
$primary-color-dk: #f56421;
$secondary-color: #2e8b57;
$secondary-color-lt: #36a365;
$white-color: #faf9f6;
$black-color: #262626;
$gray-color: #3b3b3b;
$gray-color-lt: #787878;
$rotary-blue-color: #02359e;
$wave-blue-color: #073c9a;
$rotary-orange-color: #f7a81b;

$jagui-color: #5F3543;
$cori-color: #1a8ba3;
$tucan-color: #b61d58;
$antonella-color: #f58521;
$guardian-color: #7c8830;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1200px;
$large-desktop-breakpoint: 1440px;

$scrollbar-width: 10px;
